.profile {

	.user {
		display: flex;
		align-items: center;
		gap: 33px;
		padding: 24px 0;

		.userImg{
			width: 150px;
			height: 150px;

			img{
				width: 100%;
			}
		}

		.userDetails {
			flex: 1;
			display: flex;
			align-items: center;
			gap: 15px;

			label{
				display: flex;
				flex-direction: column;
				gap: 9px;
				flex: 1;
				font-weight: 600;

				input{
					height: 33px;
					border: solid 1.5px #455;
					border-radius: 5px;
				}
			}
		}
	}
}

.banner {
	display: flex;
	flex-direction: column;
	gap: 25px;

	.bannerCard {
		height: 66px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: linear-gradient(90.02deg, #7E22CE 0.95%, #460281 99.9%);
		border: solid 1px #7E22CE;
		border-radius: 10px;
		padding: 12px 24px;
		color: #fff;

		.cardText {
			font-size: 15px;
			word-spacing: 2px;
			letter-spacing: 1px;
			font-weight: 600;

			span {
				font-weight: 600;
				font-style: italic;
				text-decoration: underline;
				text-underline-offset: 2.5px;
			}

		}

		button {
			background: #fff;
			color: #7e22ce;
			padding: 6px 15px;
			border: solid 1px #fff;
			border-radius: 5px;
			font-weight: 600;

			&:hover {
				box-shadow: 2px 4px 10px #000000;
				transform: translateY(-3px);
			}

			&:active {
				box-shadow: 2px 3px 5px #00000025;
				transform: translateY(-2px);
			}
		}
	}

	.cancel{
		color: #ff0000;
		font-size: 13px;
		font-weight: 600;
		letter-spacing: 0.7px;
		text-decoration: underline;
		text-underline-offset: 2.5px;
		cursor: pointer;
	}
}