.verticalPage{

	.content{
		width: 75%;
		margin: auto;
		margin-top: 13px;

		.header{
			height: 68px;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.left{
				text-align: center;

				h1{
					font-family: Roboto;
					font-size: 42px;
					font-weight: 900;
					line-height: 1.5;
					letter-spacing: 1.5px;
					color: #7e22ce;
				}
			}

			.createProjectBtn{
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 10px;
				background-color: #211935;
				border: solid 0.5px #211935;
				border-radius: 7px;
				padding: 5px 13px;
				color: #f8f8f8;
				font-weight: 600;
				letter-spacing: 0.6px;

				&:hover{
					box-shadow: 2px 5px 15px #00000050;
					transform: translateY(-3px);
				}

				&:active{
					box-shadow: 2px 5px 5px #00000020;
					transform: translateY(-2px);
				}

				img{
					width: 23px;
				}
			}
		}

		.projects{
			display: flex;
			flex-flow: row wrap;
			gap: 23px;

			.eachProject{
				list-style-type: none;
				flex: 1 25%;
				padding: 10px 5px;
				box-shadow: 2px 4px 10px #999999;

				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 10px;
				background: #fff;
				border: solid 1.5px #838383;
				border-radius: 10px;
				/* padding: 12px 24px; */
				cursor: pointer;
				transition: all .1s;

				&:hover{
					box-shadow: 2px 5px 15px #00000050;
					transform: translateY(-3px);
				}

				&:active{
					box-shadow: 2px 5px 5px #00000020;
					transform: translateY(-2px);
				}

				.projectDp{
					/* width: 48px;
					height: 48px; */
					border: solid 1px #7e22ce;
					background: #7e22ce;
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: #fff;
					font-size: 27px;
					font-weight: 600;
					padding: 15px;
					border: solid 1px #455;
				}

				.projectData{
					flex: 1;
					height: 100%;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					margin-right: 20px;

					.projectName{
						display: flex;
						flex-direction: column;
						color: #7e22ce;
						font-size: large;
						margin-bottom: 0;

						.episodes{
							font-weight: 600;
							font-size: 10px;
							/* margin-top: 0; */
							color: #838383;
						}
					}

					.editedTime{
						font-weight: 600;
							font-size: 10px;
							/* margin-top: 0; */
							color: #838383;
					}
				}
			}
		}
	}
}